# Location of AtomicParsley and HandBrakeCLI
# (required)
AtomicParsleyLocation=/Applications/AtomicParsley
HandBrakeCLILocation=/Applications/HandBrakeCLI

# Location of your iTunes auto import folder
# (required, no trailing slash)
iTunesAutoImportLocation=/Users/USERNAME/Music/iTunes/iTunes Music/Automatically Add to iTunes

# Location of video files
# (required, no trailing slash)
WorkingDirectory=/Users/USERNAME/Downloads

# Name of the Handbrake preset you'd like to encode with.
# Matches what is listed in the GUI version of HandBrake. More info here: http://trac.handbrake.fr/wiki/CLIGuide#presets
# (required)
HandBrakePresetName=AppleTV

# Sends a push notification to your iOS device when a file is successfully imported.
# More information on Prowl here: http://prowl.weks.net/
# (optional)
ProwlAPIKey=